body{
  font-family: "times new roman";
}


.right-links{
  display: flex;
  gap: 10px;
  

}

.left-links{
  display: flex;
  gap: 10px;
  
}

.headers{ 
  text-decoration: none ;
  color: #6e3fab;
  margin: 10px;
  font-size: 23px;
}

.header{
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcbf14;
  padding: 15px;

}

body{
  background-color:#6e3fab ;
}

#center {
  text-align: center;
  color: #6e3fab;
  margin: 10px;
  font-size: 25px;
  font-family: Helvetica, calibri, arial;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover, #link5:hover{
  text-decoration: underline;
  
}

ul{
  list-style-type: none;
  padding: 0px;
}


.container{
  display: flex;
  justify-content: center;
  gap: 52px;
  flex-wrap: wrap;
 
}

.box{
  flex-basis: 200px;
  text-align: center;

}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  background-color: #fcbf14;
  color: #6e3fab;
  font-size: 18px;
  padding: 10px;
  
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}

#mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  color: #fcbf14;

}

.select {
  text-decoration: none;
  color: #fcbf14;
  font-size: 25px;
  background-color: #6e3fab;
  border: 3px dotted #fcbf14;
  padding: 10px;

}

.info {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  background-color: #fcbf14;
  color: #6e3fab;
  font-size: 21px;
  padding: 10px;
  border-radius: 25px;

  
}

#question{
  margin-top: 30px;
  background-color: #fcbf14;
  color: #6e3fab;
  padding: 10px;
  font-size: 23px;
  display: inline-block;

}


button{
  text-align: center;
  margin-top: 30px;
  background-color: #fcbf14;
  color: #6e3fab;
  padding: 10px;
  font-size: 21px;
  font-family: "times new roman";

}


.options{
  text-align: center;
  margin-top: 10px;
  background-color: #fcbf14;
  color: #6e3fab;
  padding: 10px;
  font-size: 23px;
  font-family: arial ;

}

#link{
  margin-top: 30px;
}

.event{
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 35px;
}

.image{
  display:flex;
  margin: 20px;

}

.description{
  background-color: #fcbf14;
  color: #6e3fab;
  font-size: 24px;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  max-width: 300px;


}



.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#choice {
  font-size: 24px;
  margin: 15px;
  background-color: #633293;
  color: #fcbf14;
  font-size: 21px;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 35px;
  text-align: center;

}


h3 {
  text-align: center;
  margin: 15px;
  background-color: #fcbf14;
  color: #6e3fab;
  font-size: 25px;
  padding: 10px;
  border-radius: 25px;
  margin-top: 30px;
}

#section{
  margin-top: 70px;
}


.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}















