#mode {
    padding: 10px;
    border-radius: 8px;
}

#mode:hover{
    background-color: #e5edff;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;

}

body.dark {

}

body.dark #nav-links a{
    color: white;
}

body.dark #about {
    color: white;
    background-color: midnightBlue;
}

body.dark #footer{
    color: white;
    background-color: midnightBlue;
}
/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

body.dark #navbar {
    color: white;
    background-color: midnightBlue; 
}

#logo {
    margin: 0;
}

#nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

#nav-links a {
    text-decoration: none;
    color: #333;
}

/* Welcome */
#welcome {
    padding: 80px 20px;
    text-align: center;
    background-color: #e5edff;
}

body.dark #welcome {
    color: white;
    background-color: midnightBlue;
}

/* About Section */
#about {
    padding: 50px 20px;
    margin: 0 auto;
    text-align: center;
}

/* Features Section */
#features {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

body.dark #features {
    color: white;
    background-color: midnightBlue;
}

#card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

body.dark .card {
    color: white;
    background-color: midnightBlue;
}

/* Testimonials Section */
#testimonials {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

body.dark #testimonials {
    color: white;
    background-color: midnightBlue;
}

#testimonial-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #f7f7f7;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: left;
    font-style: italic;
}

body.dark .testimonial-card {
    color: white;
    background-color: midnightBlue;
}

body.dark h4 {
    color: white;
    background-color: midnightBlue;
}

.testimonial-card h4 {
    margin-top: 15px;
    font-style: normal;
    color: #555;
}


/* Footer */
#footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 40px;
}


body.dark #footer{
    #mode {
    padding: 10px;
    border-radius: 8px;
}

#mode:hover{
    background-color: #e5edff;
}



